@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /*
  --background: #ffffff;
  --foreground: #171717;
  */
}

@theme inline {
  /*
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  */
}

@media (prefers-color-scheme: dark) {
  /*
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
    */
}

@layer utilities {
  .prose-slate {
    --tw-prose-bold: inherit;
  }
}

body {
  font-family: var(--font-inter);
}

table {
  width: 100%;
  border-collapse: collapse;
  /* margin: 1.5rem 0; */
  @apply text-sm;
}

th,
td {
  @apply border border-gray-300;
  @apply py-2 px-3;
  text-align: left;
}

th {
  @apply bg-gray-100;
  @apply font-semibold;
}

td {
  @apply bg-white;
}